html,
body {
    width: 100%;
    scroll-behavior: smooth;
}
.navbar {
    position: static;
    background-color: #fff;
    width: 100%;
    height: 70px;
    margin-top: -7px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(158, 152, 152);
}

a:link {
    text-decoration: none;
}

.logo {
    margin-left: 160px;
    margin-top: 16px;
}

.C-logo {
    display: flex;
}

.logo-name-color {
    color: black;
}

.logo-name {
    margin-top: 0px;
    font-family: Arimo;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    font-size: 13px;
    line-height: 18px;
}

.logo-name-style {
    font-weight: bold;
    font-weight: 500;
}

#money {
    background-color: #fff;
    color: #2294f2;
}

.Menu-links {
    font-size: 15px;
    font-family: Arimo;
    align-items: center;
    display: flex;
    margin-left: 350px;
    margin-top: 0px;
    margin-right: 10px;
    gap: 40px;
}


#Home-buttons-more {
    font-size: 25px;
    color: #2294f2;
    font-weight: 400;
    transition: 0.3s;
}

#Home-buttons-more:hover {
    color: coral;
    text-shadow: 0px 1px 1px grey;
}

#about-us-buttons-more {
    font-size: 25px;
    color: #2294f2;
    font-weight: 400;
    transition: 0.3s;
}

#about-us-buttons-more:hover {
    color: coral;
    text-shadow: 0px 1px 1px grey;
}

#services-buttons-more {
    font-size: 25px;
    color: #2294f2;
    font-weight: 400;
    transition: 0.3s;
}

#services-buttons-more:hover {
    color: coral;
    text-shadow: 0px 1px 1px grey;
}

.drop-down-in-nav{
    display: inline-block;
}

.drop-down-in-nav a{
    transition: 0.3s;
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;  
}

.drop-down-in-nav .content-of-services{
    font-size: 22px;
    transition: 0.3s;
    display: inline-block;
    display: none;
    position: absolute;
    background-color: #d5e8f5;
    min-width: 100px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgb(186, 186, 186);
}

.drop-down-in-nav:hover .content-of-services{
    display: block;
}

.drop-down-in-nav .content-link-link:hover{
    background-color: #008cff;
    color: white;
}

#Contact-us-buttons-more {
    font-size: 25px;
    color: coral;
    font-weight: 400;
    text-shadow: 0px 1px 1px grey;
}


#apply-now-reach {
    margin-left: -30px;
    font-family: Arimo;
    font-size: 15px;
    font-weight: 700;
    padding: 13px 23px 13px 23px;
    border-radius: 6px;
    border-style: solid;
    border-style: groove;
    border-width: 1px;
    background-color: #2294f2;
    color: #fff;
    border-color: #8cc8f9;
    transition: 0.3s;
    opacity: 0.8;
}

#apply-now-reach:hover {
    opacity: 1;
    background-color: #008cff;
    transform: scale(1.1);
}

.Apply-button-reach {
    margin-top: 12px;
    margin-left: 30px;
}

.contact-us-image-right {
    margin-top: 0px;
    margin-left: 700px;
}

.contact-us-hero-section {
    margin-left: 80px;
    margin-top: -520px;
    border-radius: 20px;
    padding: 0px 2px 0px 8px;
    width: 115px;
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    color: #114779;
    box-shadow: 0px 0px 6px grey;
}

.expert-financial-on-hero-of-contactus {
    font-family: Inter;
    font-size: 50px;
    font-weight: 700;
    margin-left: 80px;
    line-height: 50px;
}

#Financial-guidance-in-contactus {
    background-color: #fff;
    color: #2294f2;
}

.reach-out-main-content-of-contactus {
    font-family: Inter;
    font-size: 22px;
    margin-left: 80px;
    margin-top: 20px;
    color: #474f8f;
}

.contact-us-button-contactus {
    margin-left: 150px;
    margin-top: 30px;
    padding: 14px 18px 18px 18px;
    background-color: #2294f2;
    color: #fff;
    font-family: Inter;
    font-size: 22px;
    font-weight: 600;
    border-radius: 20px;
    border-color: #008cff;
    border: 1px solid;
    cursor: text;
}

.phone-icons-oc-contactus {
    margin-right: 5px;
    margin-bottom: -3px;

}

.submit-button-in-contactus {
    background-image: url(background-image-for-overview.jpg);
    width: 100%;
    height: 700px;
    margin-top: 150px;
}

.Apply-now-form{
    padding-top: 80px;
    margin-left: 480px;
    font-family: Inter;
    background-color: #fff;
    width: 500px;
    border-style: groove;
    border-radius: 15px;
    border: 1px solid;
    box-shadow: 0px 0px 10px rgb(218, 218, 218);
    border-color: #f5f5f5;
}

.Apply-box {
    text-align: center;
    font-size: 30px;
    font-family: Inter;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 40px;
}

.form-for-submit {
    margin-left: 90px;
    margin-bottom: 30px;
}

#your-name {
    width: 300px;
    height: 40px;
    font-size: 22px;
    font-family: Inter;
    font-weight: 400;
    border-radius: 20px;
    border: 1px solid;
    padding: 0px 10px 0px 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    border: none;
    box-shadow: 0px 0px 10px rgb(179, 179, 179);
}

#Select-dropdown {
    border-style: groove;
    width: 320px;
    height: 40px;
    font-size: 22px;
    font-family: Inter;
    font-weight: 400;
    border-radius: 20px;
    border: 1px solid;
    padding: 0px 10px 0px 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    border: none;
    box-shadow: 0px 0px 10px rgb(179, 179, 179);
}

#Submit-button {
    background-color: #008cff;
    color: #fff;
    border-style: groove;
    width: 150px;
    height: 40px;
    font-size: 22px;
    font-family: Inter;
    font-weight: 500;
    border-radius: 20px;
    border: 1px solid;
    padding: 0px 10px 0px 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    border: none;
    box-shadow: 0px 0px 10px rgb(179, 179, 179);
    margin-left: 90px;

}

.Footer-background {
    background-color: #114779;
    width: 100%;
    height: 400px;
    margin-top: 0px;
}

.Container {
    font-family: Inter;
    font-size: 25px;
    color: #008cff;
    font-weight: 700;
    display: flex;
    margin-left: 160px;
}

.quick-links-footer {
    justify-content: centers;
    margin-left: 120px;
}

.Home-footer {
    font-weight: 400;
    display: flex;
    color: #fff;
    font-size: 17px;
    margin-bottom: 10px;
}

.Contact-footer {
    font-weight: 400;
    display: flex;
    color: #fff;
    font-size: 17px;
    margin-bottom: 10px;
}

.Overview-footer {
    font-weight: 400;
    display: flex;
    color: #fff;
    font-size: 17px;
    margin-bottom: 10px;
}

.Services-footer {
    margin-left: 120px;
}

.Personal-footer {
    font-weight: 400;
    display: flex;
    color: #fff;
    font-size: 17px;
    margin-bottom: 10px;
}

.Home-loan-footer {
    font-weight: 400;
    display: flex;
    color: #fff;
    font-size: 17px;
    margin-bottom: 10px;
}

.Over-draft-footer {
    font-weight: 400;
    display: flex;
    color: #fff;
    font-size: 17px;
    margin-bottom: 10px;
}

.Life-footer {
    font-weight: 400;
    display: flex;
    color: #fff;
    font-size: 17px;
    margin-bottom: 10px;
}

.Health-footer {
    font-weight: 400;
    display: flex;
    color: #fff;
    font-size: 17px;
    margin-bottom: 10px;
}

.Credit-card-footer {
    font-weight: 400;
    display: flex;
    color: #fff;
    font-size: 17px;
    margin-bottom: 10px;
}

.Contact-footerf {
    margin-left: 120px;
    font-family: Inter;
    font-size: 25px;
    color: #008cff;
    font-weight: 700;
}

.phone-no-footer {
    font-weight: 400;
    display: flex;
    color: #fff;
    font-size: 17px;
    margin-bottom: 10px;
    margin-top: -30px;
}

#phone-icons-footer {
    background-color: #fff;
    padding: 6px;
    margin-right: 10px;
    margin-top: -8px;
    border-radius: 20px;
}

.e-mail-footer {
    font-weight: 400;
    display: flex;
    color: #fff;
    font-size: 17px;
    margin-bottom: 10px;
    margin-top: 30px;
}

#e-mail-icons-footer {
    background-color: #fff;
    padding: 6px;
    margin-right: 10px;
    margin-top: -8px;
    border-radius: 20px;
}

#location-icons-footer {
    background-color: #fff;
    padding: 6px;
    margin-right: 10px;
    margin-top: -8px;
    border-radius: 20px;
}

.footer-main-content {
    color: #fff;
    font-family: Inter;
    margin-left: 160px;
    margin-top: -200px;
}

.linkedin-icons {
    border-radius: 25px;
    background-color: #fff;
    padding: 5px;
    margin-top: 30px;
}

.instagram-icons {
    border-radius: 25px;
    background-color: #fff;
    padding: 5px;
    margin-top: 30px;
    margin-left: 20px;
}

.Copyright-footer {
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    color: #fff;
    margin-top: 60px;
}

@media screen and (max-width: 1381px) {

    body {
        width: 100%;
    }

    .Menu-links {

        margin: auto;
    }

    .Apply-button-reach {

        margin: auto;
    }

}

@media screen and (max-width: 1365px) {

    body {
        width: 1385px;
    }

}