html,
body {
    width: 100%;
    scroll-behavior: smooth;
}
.navbar {
    position: static;
    background-color: #fff;
    width: 100%;
    height: 70px;
    margin-top: -7px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(158, 152, 152);
}

a:link {
    text-decoration: none;
}

.logo {
    margin-left: 160px;
    margin-top: 16px;
}

.C-logo {
    display: flex;
}

.logo-name-color {
    color: black;
}

.logo-name {
    margin-top: 0px;
    font-family: Arimo;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    font-size: 13px;
    line-height: 18px;
}

.logo-name-style {
    font-weight: bold;
    font-weight: 500;
}

#money {
    background-color: #fff;
    color: #2294f2;
}

.Menu-links {
    font-size: 15px;
    font-family: Arimo;
    align-items: center;
    display: flex;
    margin-left: 350px;
    margin-top: 0px;
    margin-right: 0px;
    gap: 40px;
}


#Home-buttons-more {
    font-size: 25px;
    color: #2294f2;
    font-weight: 400;
    transition: 0.3s;
}

#Home-buttons-more:hover {
    color: coral;
    text-shadow: 0px 1px 1px grey;
}

#about-us-buttons-more {
    font-size: 25px;
    color: #2294f2;
    font-weight: 400;
    transition: 0.3s;
}

#about-us-buttons-more:hover {
    color: coral;
    text-shadow: 0px 1px 1px grey;
}

#services-buttons-more {
    font-size: 25px;
    color: coral;
    font-weight: 400;
    text-shadow: 0px 1px 1px grey;
}


.drop-down-in-nav {
    display: inline-block;
}

.drop-down-in-nav a {
    transition: 0.3s;
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

.drop-down-in-nav .content-of-services {
    font-size: 22px;
    transition: 0.3s;
    display: inline-block;
    display: none;
    position: absolute;
    background-color: #d5e8f5;
    min-width: 100px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgb(186, 186, 186);
}

.drop-down-in-nav:hover .content-of-services {
    display: block;
}

.drop-down-in-nav .content-link-link:hover {
    background-color: #008cff;
    color: white;
}

#Contact-us-buttons-more {
    font-size: 25px;
    color: #2294f2;
    font-weight: 400;
    transition: 0.3s;
}

#Contact-us-buttons-more:hover {
    color: coral;
    text-shadow: 0px 1px 1px grey;
}


#apply-now-reach {
    font-family: Arimo;
    font-size: 20px;
    font-weight: 700;
    padding: 13px 23px 13px 23px;
    border-radius: 6px;
    border-style: solid;
    border-style: groove;
    border-width: 1px;
    background-color: #2294f2;
    color: #fff;
    border-color: #8cc8f9;
    transition: 0.3s;
    opacity: 0.8;
}

#apply-now-reach:hover {
    opacity: 1;
    background-color: #008cff;
    transform: scale(1.1);
}

.Apply-button-reach {
    margin-top: 12px;
    margin-left: 30px;
}

.personal-loan-image-right {
    margin-top: 70px;
    border-radius: 20px;
    transition: 0.3s;
    cursor: pointer;
}

.personal-loan-image-right:hover{
    opacity: 0.8;
}

.personal-loan-image-right-in-personal {
    display: flex;
    justify-content: end;
    align-items: end;
    margin-right: 180px;

}

.easy-flexible-in-personal-loan {
    margin-left: 80px;
    margin-top: -350px;
    font-family: Inter;
    font-size: 25px;
    font-weight: 500;
    color: #114678;
    width: 270px;
    padding: 8px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px rgb(186, 186, 186);
}

.turn-your-dream-content-in-personal-loan {
    margin-left: 80px;
    font-family: Inter;
    font-size: 50px;
    color: #222e47;
    font-weight: 650;
    line-height: 50px;
}

.low-interest-personal-loan-style {
    background-color: #fff;
    color: #2294f2;
}

.money-solution-offers-personal-loan-in-it {
    margin-left: 80px;
    margin-top: 40px;
    font-family: Inter;
    font-size: 22px;
    color: #474f8f;
    line-height: 30px;
}

#Apply-button {
    margin-left: 180px;
    margin-top: 30px;

}

.apply-for-loan {
    font-family: Arimo;
    font-size: 22px;
    font-weight: 700;
    padding: 15px 20px 15px 20px;
    border-radius: 40px;
    border-width: 1px;
    border-style: groove;
    border-style: solid;
    color: #fff;
    border-color: #008cff;
    background-color: #008cff;
    transition: 0.3s;
}

.apply-for-loan:hover {
    background-color: #fff;
    color: #008cff;
}

.lower-to-hero-of-personal-loan {
    background: linear-gradient(to right, #c2e1f8, #e6eef4);
    width: 100%;
    height: 500px;
    margin-top: 40px;
    font-family: Inter;
}

.essintial-attribute-in-personal-loan {
    padding-top: 30px;
    font-family: Inter;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}

.personal-loan-in-lowe-to-hero {
    background-color: #d5e6f5;
    color: #2294f2;
}

.real-time-connection {
    width: 290px;
    border: none;
    border-radius: 20px;
    height: 240px;
    margin-left: 80px;
    margin-top: 40px;
    background-color: #fff;
}

.Real-time-connectivity-in-overview {
    color: #0062be;
    font-size: 25px;
    font-weight: 500;
    border-color: #fff;
    height: 50px;
    padding: 20px 20px 0px 10px;
    margin-left: 20px;
    line-height: 25px;

}

.online-marketplace {
    line-height: 28px;
    font-size: 20px;
    font-weight: 400;
    padding: 15px 20px 20px 25px;
    margin-top: -40px;

}

#rela-time-icons {
    margin-top: -95px;
    margin-left: 205px;
    padding-bottom: 40px;
    width: 80px;
    height: 80px;

}


.Tailored-assistance {
    width: 290px;
    border: none;
    border-radius: 20px;
    height: 240px;
    margin-left: 390px;
    margin-top: -265px;
    background-color: #fff;
}

.Tailored-assistance-header {

    color: #0062be;
    font-size: 25px;
    font-weight: 500;
    border-color: #fff;
    padding: 10px 20px 0px 10px;
    margin-left: 20px;
    line-height: 30px;

}

.Tailored-assistance-main-content {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    padding: 15px 20px 20px 25px;
    margin-top: -30px;

}

.Assistance-icons {
    margin-top: -80px;
    margin-left: 195px;
    padding-bottom: 35px;
    width: 60px;
    height: 60px;
}

.Trusted-collaboration {
    width: 290px;
    border: none;
    border-radius: 20px;
    height: 240px;
    margin-left: 700px;
    margin-top: -260px;
    background-color: #fff;
}

.Trusted-collaboration-header {
    color: #0062be;
    font-size: 25px;
    font-weight: 500;
    border-color: #fff;
    padding: 10px 20px 0px 10px;
    margin-left: 20px;
    line-height: 30px;
}

.Trusted-collaboration-main-content {
    font-size: 20px;
    font-weight: 400;
    padding: 15px 20px 20px 25px;
    margin-top: -20px;
    line-height: 28px;
}

.trusted-icons {
    margin-top: -100px;
    margin-left: 210px;
    padding-bottom: 35px;
    width: 60px;
    height: 60px;
}

.Empowerment-and-Convenience {
    width: 290px;
    border: none;
    border-radius: 20px;
    height: 240px;
    margin-left: 1010px;
    margin-top: -264px;
    background-color: #fff;
}

.Empowerment-and-Convenience-header {
    color: #0062be;
    font-size: 25px;
    font-weight: 500;
    border-color: #fff;
    padding: 10px 20px 0px 10px;
    margin-left: 20px;
    line-height: 30px;
}

.Empowerment-and-Convenience-main-content {
    font-size: 20px;
    font-weight: 400;
    padding: 15px 20px 20px 25px;
    margin-top: -40px;
    line-height: 28px;
}

.Empowerment-icons {
    margin-top: -100px;
    margin-left: 230px;
    padding-bottom: 35px;
    width: 50px;
    height: 50px;
}

#apply-button-in-personal-loan-in-personal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.Essential-document-needed-in-personal-loan {
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-weight: 500;
    margin-top: 40px;
}

.essential-document-style {
    background-color: #fff;
    color: #2294f2;
}

.PAN-card-in-personal {
    margin-top: 20px;
    box-shadow: 0px 0px 8px rgb(186, 186, 186);
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    font-family: Inter;
    width: 450px;
    font-size: 25px;
    font-weight: 500;
    color: #008cff;
    margin-left: 500px;
    border-radius: 15px;
    padding: 10px 15px 10px 15px;
}

.Bank-statement-last-three-in-personal-loan {
    margin-top: 10px;
    box-shadow: 0px 0px 8px rgb(186, 186, 186);
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    font-family: Inter;
    font-size: 25px;
    font-weight: 500;
    color: #008cff;
    margin-left: 500px;
    border-radius: 15px;
    padding: 10px 15px 10px 15px;
}

.Valid-bank-account-in-personal-loan {
    width: 460px;
    margin-top: 10px;
    box-shadow: 0px 0px 8px rgb(186, 186, 186);
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    font-family: Inter;
    font-size: 25px;
    font-weight: 500;
    color: #008cff;
    margin-left: 500px;
    border-radius: 15px;
    padding: 10px 15px 10px 15px;
}

.Salary-slip-last-three-in-personal-loan {
    width: 460px;
    margin-bottom: 40px;
    margin-top: 10px;
    box-shadow: 0px 0px 8px rgb(186, 186, 186);
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    font-family: Inter;
    font-size: 25px;
    font-weight: 500;
    color: #008cff;
    margin-left: 500px;
    border-radius: 15px;
    padding: 10px 15px 10px 15px;
}

#Apply-button-in-personal-loan {
    background: linear-gradient(to right, #c2e1f8, #e6eef4);
    padding-top: 20px;
    padding-bottom: 40px;
}

.Apply-now-form {
    height: auto;
    margin-top: 40px;
    margin-left: 500px;
    font-family: Inter;
    background-color: #fff;
    width: 500px;
    border-style: groove;
    border-radius: 15px;
    border: 1px solid;
    box-shadow: 0px 0px 10px rgb(218, 218, 218);
    border-color: #f5f5f5;
}

.Apply-box {
    text-align: center;
    font-size: 40px;
    font-family: Inter;
    font-weight: 500;
}

.form-for-submit {
    margin-left: 90px;
    margin-bottom: 30px;

}

#your-name {
    width: 300px;
    height: 40px;
    font-size: 22px;
    font-family: Inter;
    font-weight: 400;
    border-radius: 20px;
    border: 1px solid;
    padding: 0px 10px 0px 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    border: none;
    box-shadow: 0px 0px 10px rgb(179, 179, 179);
}

#Select-dropdown {
    border-style: groove;
    width: 320px;
    height: 40px;
    font-size: 22px;
    font-family: Inter;
    font-weight: 400;
    border-radius: 20px;
    border: 1px solid;
    padding: 0px 10px 0px 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    border: none;
    box-shadow: 0px 0px 10px rgb(179, 179, 179);
}

#Submit-button {
    background-color: #008cff;
    color: #fff;
    border-style: groove;
    width: 150px;
    height: 40px;
    font-size: 25px;
    font-family: Inter;
    font-weight: 500;
    border-radius: 20px;
    border: 1px solid;
    padding: 0px 10px 0px 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    border: none;
    box-shadow: 0px 0px 10px rgb(179, 179, 179);
    margin-left: 90px;

}

.Question-section {
    background: linear-gradient(to right, #c2e1f8, #e6eef4);
    width: 100%;
    height: auto;
    margin-top: -40px;
}

.Question-header {
    font-family: Inter;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    padding-top: 40px;
}

#Want-to-style {
    background-color: #d5e8f5;
    color: #008cff;
}

.question-box {
    padding: 20px;
    font-family: Inter;
    font-size: 22px;
    margin-left: 270px;
    border: 1px solid #008cff;
    background-color: #f5f5f5;
    color: #000000;
    width: 900px;
    border-radius: 30px;

}

#para-of-question {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
    color: #000000;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgb(202, 202, 202);
}

.accordion {
    list-style: none;
    width: 100%;
    margin: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);

}

.label {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}

.label::before {
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}

.accordion[type="radio"] {
    display: none;
}

.accordion,
.content {
    color: #555;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordion[type="radio"]:checked+.label+.content {
    max-height: 400px;
    padding: 10px 10px 20px;
}

.accordion[type="radio"]:checked+.label::before {
    content: '-';
}

.Footer-background {
    background-color: #114779;
    width: 100%;
    height: 350px;
    margin-top: 50px;
}

.Container {
    font-family: Inter;
    font-size: 25px;
    color: #008cff;
    font-weight: 700;
    display: flex;
    margin-left: 160px;
}

.quick-links-footer {
    justify-content: centers;
    margin-left: 120px;
}

.Home-footer {
    font-weight: 400;
    display: flex;
    color: #fff;
    font-size: 17px;
    margin-bottom: 10px;
}

.Contact-footer {
    font-weight: 400;
    display: flex;
    color: #fff;
    font-size: 17px;
    margin-bottom: 10px;
}

.Overview-footer {
    font-weight: 400;
    display: flex;
    color: #fff;
    font-size: 17px;
    margin-bottom: 10px;
}

.Services-footer {
    margin-left: 120px;
}

.Personal-footer {
    font-weight: 400;
    display: flex;
    color: #fff;
    font-size: 17px;
    margin-bottom: 10px;
}

.Home-loan-footer {
    font-weight: 400;
    display: flex;
    color: #fff;
    font-size: 17px;
    margin-bottom: 10px;
}

.Over-draft-footer {
    font-weight: 400;
    display: flex;
    color: #fff;
    font-size: 17px;
    margin-bottom: 10px;
}

.Life-footer {
    font-weight: 400;
    display: flex;
    color: #fff;
    font-size: 17px;
    margin-bottom: 10px;
}

.Health-footer {
    font-weight: 400;
    display: flex;
    color: #fff;
    font-size: 17px;
    margin-bottom: 10px;
}

.Credit-card-footer {
    font-weight: 400;
    display: flex;
    color: #fff;
    font-size: 17px;
    margin-bottom: 10px;
}

.Contact-footerf {
    margin-left: 120px;
    font-family: Inter;
    font-size: 25px;
    color: #008cff;
    font-weight: 700;
}

.phone-no-footer {
    font-weight: 400;
    display: flex;
    color: #fff;
    font-size: 17px;
    margin-bottom: 10px;
    margin-top: -30px;
}

#phone-icons-footer {
    background-color: #fff;
    padding: 6px;
    margin-right: 10px;
    margin-top: -8px;
    border-radius: 20px;
}

.e-mail-footer {
    font-weight: 400;
    display: flex;
    color: #fff;
    font-size: 17px;
    margin-bottom: 10px;
    margin-top: 30px;
}

#e-mail-icons-footer {
    background-color: #fff;
    padding: 6px;
    margin-right: 10px;
    margin-top: -8px;
    border-radius: 20px;
}

#location-icons-footer {
    background-color: #fff;
    padding: 6px;
    margin-right: 10px;
    margin-top: -8px;
    border-radius: 20px;
}

.footer-main-content {
    color: #fff;
    font-family: Inter;
    margin-left: 160px;
    margin-top: -200px;
}

.linkedin-icons {
    border-radius: 25px;
    background-color: #fff;
    padding: 5px;
    margin-top: 30px;
}

.instagram-icons {
    border-radius: 25px;
    background-color: #fff;
    padding: 5px;
    margin-top: 30px;
    margin-left: 20px;
}

.Copyright-footer {
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    color: #fff;
    margin-top: 60px;
}

@media screen and (max-width: 1381px) {

    body {
        width: 100%;
    }

    .Menu-links {

        margin: auto;
    }

    .Apply-button-reach {

        margin: auto;
    }

}

@media screen and (max-width: 1365px) {

    body {
        width: 1385px;
    }

}